html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.MuiFormControlLabel-label {
  font-size: 0.875rem !important;
}
.css-vtugw8-MuiFormControl-root-MuiTextField-root {
  margin-top: 0 !important;
}

.css-2d3lgy-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiMenu-paper {
  height: 40vh;
}

.css-2d3lgy-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiMenu-paper {
  width: 150px;
  height: 30vh;
}